langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-google-genai==1.0.10
langchain-text-splitters==0.2.2
google-generativeai==0.7.2
chromadb==0.5.5
sentence-transformers==3.0.1
python-dotenv==1.0.1
streamlit==1.38.0
pypdf==4.3.1
watchdog==4.0.2